


.pagecontainerbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: hsl(236, 89%, 4%);
}
.sideBar-Link-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    align-content: center;
    height: 100%;
}

.icon-sideBar {
    display: flex;
    text-align: center;
    margin: 1rem; 
    font-size: x-large;
    color:#DBAF2B
}

.icon-sideBar :hover{
font-size: xx-large;
}
.welcome-page-container {
    position: relative; 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
    color: #DBAF2B;
    overflow: hidden; 
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 10%;
   
    
}

.welcome-page-container::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
  
    
}

.welcome-page-container > * {
    position: relative; /* Ensure child elements are above the overlay */
    z-index: 1; /* Keep text elements above the overlay */
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}


.regular-font-hello{
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: .1rem;
  margin: 0;
  margin-left: -50%;
}
.regular-font-group{
   font-size: 2rem;
   font-weight:100;
   letter-spacing: .1rem;
   color: whitesmoke; 
  margin: 0%;
  margin-left: -30%;
  
}
.bold-font-group{
    font-size: 6rem;
    font-weight:bold;
    letter-spacing: .4rem;
    color: whitesmoke; 
    margin: -20px;
   
}


.Bold-text-titles-Back{
    
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #dbaf2b16; 
    text-align: center;
    position: relative; 
    z-index: 0; 
    margin: 0; 
    margin-top: 30%;
}
.Bold-text-titles{
   
    font-size: 2rem; 
    font-weight: bolder;
    letter-spacing: .2rem;
    color: #dbaf2b; 
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -70px 0 0 0;
   
}
.aboutMe-Container , .Skills-component-container,.projectsContainer{
 
    width: 100%;
   
}

.aboutMe-picture-statement-container {

    margin-top: 15%;
    display: flex;
    flex-direction: row; /* Change to row to align items side by side */
  justify-content: center;
}

.profile-picture {
    height: 25rem;
    width: 15rem;
    margin-right: 5%;
    
}

.Personal-Statement {
    width: 60%;
    margin-left: 20px; 
}
.simpleText-format{
    color: whitesmoke; 
   font-size: 1.5rem;
   font-weight: lighter;
   letter-spacing: .1rem;
   text-align: center;
}
.regular-font-group-messag{
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight:lighter;
    letter-spacing: .2rem;
    text-align: center;
    color: whitesmoke; 
    

}
.skills-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

.skill-item {
    display: flex;
    flex-direction: column; /* Stack title above logo */
    align-items: center; /* Center align items */
    flex: 0 0 calc(20% - 10px); /* Adjusts the item width for 5 items per row */
    margin: 5px; 
    margin-top: 10%;
}


.skill-tecnology-logo {
    font-size: 4rem;
    margin-top: 15%; 
    opacity: 0.9; 
    margin-left: -25%;
    
}
.Boldtext-titles{
   
    font-size: 1rem; 
    font-weight:900;
    letter-spacing: .3rem;
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -50px 0 0 0;
   
    
}
/* find out how to make the all divs have an effect when hover on any of the logos*/
.Boldtext-titles:hover{
  text-decoration: underline;

}
  
.single-chart {
  width: 35%;
  justify-content: space-around;
  margin-top: -20%;
  margin-left: 40%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 1s ease-out; /* Transition for smooth animation */
}

.single-chart:hover .circle {
  animation: progress 1s ease-out forwards; /* Re-trigger animation on hover */
}


@keyframes progress {
  0% {
      stroke-dasharray: 0 100; /* Start from 0 */
  }
  
}

.circular-chart.js .circle {
  stroke: #FFDE25;
}

.circular-chart.html .circle {
  stroke: #F24900;
}

.circular-chart.css .circle {
  stroke: #0B38EB;
}

.circular-chart.react .circle {
  stroke: #336F96;
}

.circular-chart.node .circle {
  stroke: #057825;
}

.circular-chart.python .circle {
  stroke: #FFDE25;
}

.circular-chart.mongo .circle {
  stroke: #057825;
}

.circular-chart.figma .circle {
  stroke: #A259FF;
}

.circular-chart.ps .circle {
  stroke: #00AAFF;
}

.circular-chart.il .circle {
  stroke: #FF9A00;
}

.percentage {
  fill: #838380ea;
  font-family: Raleway;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}

.project-list-container{
    
    margin-bottom: 30%;
  

}

.footer-container{
    margin-top: 20%;
    color:#010211;
    text-align: center;
    padding: 10px 0; 
    background-color:  #dbaf2b; 
    height: 5%;

}
.footer-text{
    font-weight:lighter;
    font-size:large;
    font-weight: 400;
    letter-spacing: 2px;
}

.projects-cards-container {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  width: 100%;
  height: auto;
  gap: 20px; /* Optional: Adds space between items */
 
}

.project-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Space out children */
  height: 100%; /* Ensure it takes full height */
  position: relative; /* For any absolute children */
  margin: 1%; /* Adjust as needed */
  background-size: cover; 
  background-position: center; 
  width: calc(45% - 10px); /* Adjust width to account for margins and gaps */
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}


.Project-Details-container{
  flex-grow: 1; /* Allow this section to take up available space */
  display: flex;
  flex-direction:row; /* Arrange children vertically */
  justify-content: center; /* Align children to the bottom */
 align-items: center;

}
.project-name{
font-size: 2rem;
font-style: italic;
color:#DBAF2B;


}
.project-item-logo{
  width: 4rem;
  height: 4rem;
  
}
.project-link-gitHub-repo{
  font-size: 2rem;
  margin-left: 5%;
  text-decoration:none ;
  color: #DBAF2B;
}
.project-description-card{
  font-size: .8rem;
  margin-left: 5%;
 
}
.project-description-card-container {
  display: none; 
  background-color: rgba(0, 0, 0, 0.7);
  color: white; 

 
}
.project-item-container:hover .project-description-card-container {
  display: block; 
 

}
.technologies-container{
  display: none;
}

@media (max-width: 866px) {

  .icon-sideBar {
    display: flex;
    text-align: center;
    margin: 1rem; 
    font-size: large;
    color:#DBAF2B
}




  .welcome-page-container {
    position: relative; 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    justify-content: space-around;
    color: #DBAF2B;
    overflow: hidden; 
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
  }

  .welcome-page-container::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
  
    
}
.welcome-page-container > * {
  position: relative; /* Ensure child elements are above the overlay */
  z-index: 1; /* Keep text elements above the overlay */
}
  .intro-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
     
  }
  .regular-font-hello{
    font-size: .8rem;
    font-weight: lighter;
    letter-spacing: .1rem;
     margin-bottom: 5%;
  
  }
  .bold-font-group{
    font-size: 1.3rem;
    font-weight:bold;
    letter-spacing: .4rem;
    color: whitesmoke; 
    margin-top: -15px;
    margin-bottom: 2px;
   
  }
  .regular-font-group{
    font-size:.5rem;
    font-weight:100;
    letter-spacing: .1rem;
    color: whitesmoke; 
    margin-bottom: 5%;
  
   
 }

  .Bold-text-titles-Back{
    
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #dbaf2b16; 
    text-align: center;
    position: relative; 
    z-index: 0; 
    margin: 0; 
  }
  .Bold-text-titles{
   
    font-size: 1rem; 
    font-weight: bolder;
    letter-spacing: .2rem;
    color: #dbaf2b; 
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -35px 0 0 0;
   
}
.aboutMe-Container , .Skills-component-container,.projectsContainer{
  margin-top: 20%;
  width: 100%;

}
.aboutMe-picture-statement-container {
  margin-top: 15%;
  display: flex;
  flex-direction: row; /* Change to row to align items side by side */
justify-content: center;
}


.profile-picture {
  display: none;
  
}
.Personal-Statement {
  width: 100%;
  margin-left: 20px; 
}
.simpleText-format{
  color: whitesmoke; 
 font-size: .8rem;
 font-weight: lighter;
 letter-spacing: .1rem;
 text-align: center;
}
.regular-font-group-messag{
  margin-top: 10%;
  font-size: .8rem;
  font-weight:lighter;
  letter-spacing: .2rem;
  text-align: center;
  color: whitesmoke; 


}
.skills-container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping if items overflow */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Add space between skill items */
}

.Boldtext-titles {
display: none;
}

.skill-tecnology-logo {
  font-size: 2rem;
  margin-top: 5px; /* Ensure there is some space between title and icon */
  margin-left: -3px;
}

.single-chart {
  display: none;
}
.project-list-container{
    
  margin-bottom: 30%;

}
  .footer-text {
      font-size: small; /* Adjust footer text size */
  }

  .projects-cards-container {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Align items to the start */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    width: 100%;
    height: auto;
    gap: 20px; /* Optional: Adds space between items */
   
  }
  .project-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around; /* Space out children */
    height: 100%; /* Ensure it takes full height */
    position: relative; /* For any absolute children */
    margin: 1%; /* Adjust as needed */
    width: 100%; /* Adjust width to account for margins and gaps */
    height: 150px;
    background: none;
    margin-top: 20%;
    margin-bottom: 20%;
   
  }

  .Project-Details-container{
    display: flex;
    justify-content: center; /* Align children to the bottom */
   align-items: center;
  
  }
  .project-name{
    font-size: 1rem;
    font-style: italic;
    color: whitesmoke;
    text-align: left;
   

    
    }
    .project-item-logo{
      display: none;
      
    }
    .project-link-gitHub-repo{
      font-size: 1rem;
      text-decoration:none ;
      color: #DBAF2B;
    }
    .project-description-card{
      font-size: .8rem;
      font-weight: 200;
      text-align: justify;

     
    }
    .project-description-card-container {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: whitesmoke; 
    background:none;
    }
    .technology-bubble {
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      padding: 2px 5px; /* Added padding for better visibility */
      border-radius: 10px;
      background-color: #3f3304;
      color:#DBAF2B;
      margin: 5px; /* Increased margisn for spacing */
      display: inline-block; /* Ensures the bubbles display inline */
  }
}

@media only screen and (min-width: 866px) and (max-width: 1377px){

  .welcome-page-container {
    position: relative; 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
    color: #DBAF2B;
    overflow: hidden; 
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 10%;
   
    
}

.welcome-page-container::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
  
    
}

.welcome-page-container > * {
    position: relative; /* Ensure child elements are above the overlay */
    z-index: 1; /* Keep text elements above the overlay */
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}


.regular-font-hello{
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: .1rem;
  margin: 0;
  margin-left: -42%;
}
.regular-font-group{
   font-size: 1.5rem;
   font-weight:100;
   letter-spacing: .1rem;
   color: whitesmoke; 
  margin: 0%;
  margin-left: -25%;
  
}
.bold-font-group{
    font-size: 4rem;
    font-weight:bold;
    letter-spacing: .4rem;
    color: whitesmoke; 
    margin: -20px;
   
}


}