
.pagecontainerbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: hsl(236, 89%, 4%);
}
.sideBar-Link-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    align-content: center;
    height: 100%;
}

.icon-sideBar {
    display: flex;
    text-align: center;
    margin: 1rem; 
    font-size: x-large;
    color:#DBAF2B
}

.icon-sideBar :hover{
font-size: xx-large;
}
.welcome-page-container {
    position: relative; 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
    color: #DBAF2B;
    overflow: hidden; 
    align-content: center;
    align-self: center;
    align-items: center;
    margin-top: 10%;
   
    
}

.welcome-page-container::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
  
    
}

.welcome-page-container > * {
    position: relative; /* Ensure child elements are above the overlay */
    z-index: 1; /* Keep text elements above the overlay */
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}


.regular-font-hello{
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: .1rem;
  margin: 0;
  margin-left: -55%;
}
.regular-font-group{
   font-size: 1.5rem;
   font-weight:100;
   letter-spacing: .1rem;
   color: whitesmoke; 
  margin: 0%;
  margin-left: -25%;
  
}
.bold-font-group{
    font-size: 4rem;
    font-weight:bold;
    letter-spacing: .4rem;
    color: whitesmoke; 
    margin: -20px;
   
}

.Bold-text-titles-Back{
    
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #dbaf2b16; 
    text-align: center;
    position: relative; 
    z-index: 0; 
    margin: 0; 
    margin-top: 30%;
}
.Bold-text-titles{
   
    font-size: 1.5rem; 
    font-weight: bolder;
    letter-spacing: .2rem;
    color: #dbaf2b; 
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -50px 0 0 0;
   
}
.aboutMe-Container , .Skills-component-container,.projectsContainer{
 
    width: 100%;
   
}

.aboutMe-picture-statement-container {

    margin-top: 15%;
    display: flex;
    flex-direction: row; /* Change to row to align items side by side */
  justify-content: center;
}

.profile-picture {
    height: 25rem;
    width: 15rem;
    margin-right: 5%;
    
}

.Personal-Statement {
    width: 60%;
    margin-left: 20px; 
}
.simpleText-format{
    color: whitesmoke; 
   
   font-size: 1rem;
   font-weight: lighter;
   letter-spacing: .1rem;
   text-align: center;
}
.regular-font-group-messag{
    margin-top: 10%;
   
    font-size: 1rem;
    font-weight:lighter;
    letter-spacing: .2rem;
    text-align: center;
    color: whitesmoke; 
    

}
.skills-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

.skill-item {
    display: flex;
    flex-direction: column; /* Stack title above logo */
    align-items: center; /* Center align items */
    flex: 0 0 calc(20% - 10px); /* Adjusts the item width for 5 items per row */
    margin: 5px; 
    margin-top: 10%;
}


.skill-tecnology-logo {
    font-size: 4rem;
    margin-top: 15%; 
    opacity: 0.9; 
    margin-left: -25%;
    
}
.Boldtext-titles{
   
    font-size: 1rem; 
    font-weight:900;
    letter-spacing: .3rem;
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -50px 0 0 0;
   
    
}
/* find out how to make the all divs have an effect when hover on any of the logos*/
.Boldtext-titles:hover{
  text-decoration: underline;

}
  
.single-chart {
  width: 35%;
  justify-content: space-around;
  margin-top: -20%;
  margin-left: 40%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 1s ease-out; /* Transition for smooth animation */
}

.single-chart:hover .circle {
  animation: progress 1s ease-out forwards; /* Re-trigger animation on hover */
}


@keyframes progress {
  0% {
      stroke-dasharray: 0 100; /* Start from 0 */
  }
  
}

.circular-chart.js .circle {
  stroke: #FFDE25;
}

.circular-chart.html .circle {
  stroke: #F24900;
}

.circular-chart.css .circle {
  stroke: #0B38EB;
}

.circular-chart.react .circle {
  stroke: #336F96;
}

.circular-chart.node .circle {
  stroke: #057825;
}

.circular-chart.python .circle {
  stroke: #FFDE25;
}

.circular-chart.mongo .circle {
  stroke: #057825;
}

.circular-chart.figma .circle {
  stroke: #A259FF;
}

.circular-chart.ps .circle {
  stroke: #00AAFF;
}

.circular-chart.il .circle {
  stroke: #FF9A00;
}

.percentage {
  fill: #838380ea;
  font-family: Raleway;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}

.project-list-container{
    
    margin-bottom: 30%;
  

}

.footer-container{
    margin-top: 20%;
    color:#010211;
    text-align: center;
    padding: 10px 0; 
    background-color:  #dbaf2b; 
    height: 5%;

}
.footer-text{
    font-family: Raleway;
    font-weight:lighter;
    font-size:large;
    letter-spacing: 2px;
}